#COPY THIS ONE FOR YOUR BRANCH
DB_HOST=your-aiven-host.aivencloud.com
DB_PORT=12345
DB_USER=avnadmin
DB_PASSWORD=replace_with_real_password
DB_SSL=true

DB_USER_DB=xyon_user_db
DB_EVENT_DB=xyon_event_db

JWT_SECRET=replace_with_random_string
PORT=3001
